form(ng-submit='submitName()', ng-show='!valid')
  div(class='email-form')
    div(class='input-group')
      input(type='text', placeholder='User Name', class='form-control', name='name', id='username', ng-model="username")
      div(class="input-group-btn")
        button(type="submit", ng-click="submitName()", class='btn btn-primary') Meet Cursors

div(id='sidebar-wrapper', ng-show='valid')
  div(class='sidebar-nav', ng-repeat='user in usernames')
    div(class='cursors', ng-style='myStyleFunction(user.pos)') {{ user.name }}
  
  div(class="side-bar")
    div(class='session-dots') &nbsp
    div(class='session-time sess-det') {{ time }}
    div(class='session-end sess-det', ng-click='endSession()') end
    ul(class='top-user-nav')
      li(class='user-initials', ng-repeat='user in usernames', title='{{user.name}}') {{ user.initial }}
    div(class='session-dots') &nbsp

  div(class='chat-box')
    div(class='chat-head') Chat
    div(class='chat-body', scroll-glue)
      div(class='inside-chat', ng-repeat='chat in conversation') 
        strong {{ chat.name }} 
        span : {{ chat.text }}
    form(ng-submit='AddCoversation()')
      input(type='text', placeholder='something interesting here dude!', class='form-control', name='chat-text', id='chat-text', ng-model="chatText")