extends layout

block body
  div(ng-controller='AppCtrl')
    
    div(ng-view)
  
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/libs/angular.js')
  script(src='javascripts/libs/angular-route.js')
  script(src='javascripts/libs/socket.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')