doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Share your Cursor
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block body