body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/bg/parrot.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #444;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin-top: 100px;
  overflow: hidden;
}
.email-form {
  max-width: 400px;
  margin: 0 auto;
}
a {
  color: #00B7FF;
}
.sidebar-nav {
  font-size: 16px;
  list-style: none;
}
.cursors {
  position: absolute;
  background: #59B69A;
  color: #fff;
  padding: 2px 5px;
  border: 1px dashed;
  z-index: 10;
}
.side-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #E3E7EF;
  border-radius: 5px;
  z-index: 11;
}
.side-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  background: #F3F3F7;
  padding: 10px;
}
.user-initials {
  padding: 10px;
  width: 40px;
  background: #323A45;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
.sess-det {
  text-align: center;
  padding: 5px 3px;
}
.sess-det.session-time {
  background: #C4C7CD;
  color: #909AA2;
}
.sess-det.session-end {
  background: #FF3065;
  color: #fff;
  cursor: pointer;
}